# cache
__pycache__/
*.pyc

# virtual environment
venv/
.venv/

# vscode
.vscode/

# build
build/
dist/

# env
.env

# Notebook checkpoint - jupyter
.ipynb_checkpoints/

# Dataset
*.csv
*.xlsx
*.parquet

# Text output
*.txt
*.log

# VSCode
.vscode/